header{
    font: 2em sans-serif;
    color: blue;
    display: block;
    width: 80%;
    margin: auto;

}

.s1{

background-color: chartreuse;
display: block;
width: 30%;
padding: 1em;
margin: 2em;
}

.s2{
display: block;
width: 30%;
}

.s3{
    display: block;
    width: 30%;
    color: white;
    background-color: black;

}

