header{
    font: 2em sans-serif;
}

section1{

    color: red;
}

body {
    background-color: white;
}

article{
    
width: 300px;
border: 25px solid green;
padding: 25px;
margin: 25px;
      
border-style: solid;
}


