header{
    padding-top: 10em;
    border-style: solid
}   
  
h1{
    color: blue;
    margin-left:  0.5em;
}
section1{
    color: red;
    
}

body {
    background-color: white;
}

article{
 border-style: solid;
}


